canvas.grid
{
	display: block;
	position: absolute;
	border: 1px solid black;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
div.score
{
	background-color: red;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}